div{
    height: 30px;
    display : flex;
    align-items: center;
}
#title{
    background-color: orange;
    width: 300px;
    text-align: center;
    font-size: 1rem;
    justify-content: center;
}