.mat-toolbar{
    width: 95%;
    margin-left: 2%;
    background-color: gray;
    color: black;
    border: 1px solid #c3c3c3;
}

.material-icons{
    font-size: 19px;
    color: white;
}

.mat-form-field {   
    width: 22px;
}
::ng-deep .mat-elevation-z8{
    background-color: white;
    color: black;
    box-shadow: none;
}
mat-form-field-infix{
    padding-top: 0px;
    padding-bottom: 0px;
    width: 23px;
    border-top-width: 0px;
}
::ng-deep .mat-menu-content{
    background-color: white;
    width: 150px;
}
.mat-menu-item{
    display: inline-block;
    background-color: white;
    color: gray;
}
.option-icons{
    background-color: white;
    color: gray;
}
#button_check{
    background-color: white;
    padding: 0;
    height: 20px;
    width: 20px;
    display: inline-flex;
    margin-bottom: 4px;
    margin-top: 4px;
}
#button_check1{
    background-color: white;
    padding: 0;
    height: 20px;
    width: 20px;
    display: inline-flex;
    margin-bottom: 7px;
    margin-right: 5px;
    margin-top: 4px;
}
#check{
    color: orangered;
}
#check1{
    color: orangered;
    transform: rotate(45deg);
}
.input_new_row{
    border: 1px solid orangered;
    width: 80%;
}
.add-row{
    margin-left: 7px;
}
button{
    padding: 0.62%;
    margin-top: 1px;
    color: white;
    background-color: orangered;
    border-width: 0;
    border-color: orangered;
    line-height: 20px;
    display: inline-grid;
    vertical-align: middle;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    color: black;
}
td.mat-cell:last-of-type{
    padding-left: 24px;
}
th.mat-header-cell{
    background-color: lightgray;
    border: 1px solid #c3c3c3;
    text-align: center;
}
.example-fill-remaining-space {
    flex: 1 1 auto;
  }

table {
    width: 95%;
    margin-left: 2%;
    border: 1px solid #c3c3c3;
}

.option-dropdown {
    position: absolute;
    padding: 4px 8px;
}
.option-dropdown /deep/.mat-select-arrow-wrapper {
    visibility: hidden;
}

mat-form-field /deep/.mat-form-field-underline {
    height: 0 !important;
}   

.group-search-table{
    width: 95%;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
/* .fileContainer {
    background: red;
    border-radius: .5em;
    float: left;
    padding: .5em;
}

.fileContainer [type=file] {
    cursor: pointer;
} */