<app-header></app-header>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode= "side">
        <mat-nav-list>
            <a mat-list-item routerLink = "/resource">Resource</a>
            <a mat-list-item routerLink = "/project">Project</a>
            <a mat-list-item routerLink = "/formula">Formula</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <button (click) = "sidenav.toggle()">></button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
