<div>
    <div id = "title-container">
            <table>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            <div id = "title">Resource Management</div>
    </div>
    <div id = "project-container">
        Project 1
    </div>
    <div id = "user-container">
        <span>
            <fa-icon icon="user-circle" size = "lg"></fa-icon>
        </span>
        <span>Cost Enginner</span>
        <span>
            <fa-icon icon="question-circle" size = "lg"></fa-icon>
        </span>
    </div>
</div>