/* mat-form-field{ */
.pjs{
    float: right;
    width: 800px;
    height: 50px;
}

.select {
    float: right;
    width: 100% ;
    width: 100px;
    height: 30px;
    margin: 10px;
    margin-right: 200px;
    border:solid;
    border-width:1px;
    border-radius:10px;
    line-height: 30px;
    padding-left:8px; 
    border-color: grey;
}
.pjtable{
    padding: 10px;
    padding-left: 50px;
}

.inline { 
    display: inline-block; 
    margin:10px;
    padding: 10px;
}

.searchBar{
    height: 30px;
    width: 100%;
}