<div class="mat-elevation-z8">
    <header> Project
      <button (click)="removeSelectRows()"> delete </button>
    </header>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </mat-header-cell>
      
            <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
      
          </mat-cell>
          </ng-container>
  
      <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> PROJECT NAME</mat-header-cell>
          <mat-cell *matCellDef="let element" >{{element.resourceName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>PROJECT CODE</mat-header-cell>
          <mat-cell *matCellDef="let element" >{{element.resourceId}}</mat-cell>
        </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row (click)="selection.toggle(row) " *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <!-- (click)="logData(row)" (click)="selection.toggle(row) -->
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
</div>

<button id = "prSubmit" (click)= "addToDB()" >submit</button>
  