header{
    background-color: grey;
    height: 50px;
    text-align: center;
    /* vertical-align: 50px; */
    line-height: 50px;
}

.add{
    float: right;
    height: 30px;
    width : 30px;
    margin: 10px;
    background: 'assets/img/12.jpg';
}

table{
    /* width: 100%; */
    width: 500px;
    height: 300px;
}

mat-elevation-z8{
    margin-left: 100px
}

mat-header-cell{
    background-color:lightgrey;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background{
    background-color: coral !important;
}