/* @import"https://fonts.googleapis.com/icon?family=Material+Icons"
       */

       .form_card{
        background-color: white;
        margin-top: 10em;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    
    }
    .cardContent{
        display: flex;
        flex-flow: column;
      }
    
  
    a {
      color:white;
      text-decoration-line: none;
    }
    
    a.disabled {
      color: gray;
      cursor: not-allowed;
  }
    