
.mat-grid-tile{
    border: 1px solid black;
}
ul{
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
#project-survey-title{
    width: 80%;
    float: left;
}
#project-survey-trash{
    width: 20%;
    float: right;
}
div{
    padding-left: 15px;
    display: flex;
    height: 50px;
    margin-bottom: 10px;
    background-color: lightgrey;
    align-items: center;
}
.trash{
    color: red;
}

.plus-square{
    color: orangered;
}
.survey-fields{
    margin:0;
    width: 27%;
}

.survey-fields-trash{
    margin:0;
}

.scope-fields{
    align-items: center;
    width: 80%;
}

.scope-fields-trash{
    width: 20%;
}