<mat-grid-list cols = "4">
    
    
    <!-- Project Field Scope Tile-->
    <mat-grid-tile rowspan = "2" colspan = "1">
        <mat-list id = "project-field-scope">
            <!-- Project Field Scope Toolbar-->
            <mat-list-item>
                Project Scope Fields
            </mat-list-item>
            
            <!-- Project Field Scope item list-->
            <mat-list-item   *ngFor = "let col of data">
                <div>
                    <span class = "scope-fields">{{col.colName}}</span>
                    <span>
                        <input [checked] = "col.colScope" (change) = "changeScope(col,$event)" [disabled] = "col.colName === 'Resource Name' || col.colName === 'Resource Code'" type = "checkbox">
                    </span>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-grid-tile>
    
    <!-- Project Survey Fields-->
    <mat-grid-tile rowspan = "2" colspan ="3">
        
        <mat-list id ="project-survey-field">
            <!-- Project Survey Fields ToolBar-->
            <mat-list-item>
                Project Survey Fields
            </mat-list-item>
     
            <!-- Project Survey Fields List-->
            <mat-list-item *ngFor = "let col of data">
                    <div class= "survey-fields">
                        Field
                        <br>
                        <input [disabled] = "col.colName === 'Resource Name' || col.colName === 'Resource Code'"type = "text" [value] = "col.colName" (change) ="changeColName(col, $event)" >
                    </div>
                    <div class = "survey-fields">
                        type
                        <br>
                        <select [disabled] = "col.colName === 'Resource Name' || col.colName === 'Resource Code'"  #type [value] = "col.colType" (change) ="changeColType(col, $event)">
                            <option value = "Text">Text</option>
                            <option value = "Number">Number</option>
                            <option value ="Formula">Formula</option>
                        </select>
                    </div>
                    <div class = "survey-fields">
                        <span *ngIf = "type.value === 'Formula'">
                            Formula
                            <br>
                            <input type = "text" [value] = "col.colName" >
                        </span>
                    </div>
                    <div class = "survey-fields-trash">
                        <button  *ngIf = "col.colName !== 'Resource Name' && col.colName !== 'Resource Code'" mat-icon-button (click) = "removeColumn(col)"> 
                            <fa-icon class = "trash" icon="trash" size = "lg"></fa-icon>
                        </button>
                    </div>
            </mat-list-item>
        </mat-list>
        <div>
            Add Fields <button mat-icon-button (click) = "addColumn()"> <fa-icon id = "plus-square" icon="plus-square" size = "lg"></fa-icon></button>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<div>
    <button (click) ="saveColumn()">
        Save
    </button>
</div>


